.additionally {
  &__item {
    display: grid;
    grid-template-columns: minmax(0, 365px) 1fr max-content;
    align-items: center;
    gap: 10px 30px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 6px;
    padding: 30px;
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }

    @media (max-width: 767px) {
      grid-template-columns: 1fr;
      gap: 20px;
    }
  }

  &__name {
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    @media (max-width: 580px) {
      font-size: 18px;
      line-height: 26px;
    }
  }

  &__points {
    border-bottom: 1px dotted white;
    @media (max-width: 767px) {
      display: none;
    }
  }

  &__description {
    grid-column: 1/4;
    @media (max-width: 767px) {
      grid-row: 2/3;
    }
  }
  .price {
    @media (max-width: 767px) {
      grid-row: 3/4 !important;
    }

    svg {
      fill: $orange !important;
      width: 28px !important;
      height: 28px !important;
      margin-right: 7px;
    }
  }
}
