.articles {
  padding-top: 10px;
  max-width: 830px;
  &__item {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 55px;
    margin-bottom: 60px;
    &:last-child {
      margin-bottom: 0;
    }
    @media (max-width: 900px) {
      gap: 30px;
    }

    @media (max-width: 600px) {
      grid-template-columns: 1fr;
    }
  }

  &__img {
    height: 275px;
    width: 275px;
    display: block;

    @media (max-width: 767px) {
    }

    @media (max-width: 460px) {
      height: auto;
      width: auto;
    }
    img,
    source,
    picture {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top center;
      border-radius: 6px;
    }
  }

  &__text {
  }

  &__name {
    display: block;
    font-family: "Prata";
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 14px;
    color: $orange;
    border-bottom: 1px solid $orange;
  }

  &__preview-txt {
    font-size: 14px;
    line-height: 22px;
    margin: 15px 0 25px;
    opacity: 0.75;
    @media (max-width: 600px) {
      margin: 15px 0;
    }
  }

  &__more {
    margin-top: 30px;
    font-size: 12px;
    line-height: 14px;
    color: #ffa360;
    padding-bottom: 4px;
    border-bottom: 1px dotted $orange;
  }
}
