.banner {
  padding: 241px 0 100px;
  ._anim-items {
    opacity: 0;
    visibility: hidden;
  }
  @media (max-width: 1000px) {
    padding-top: calc(135px + (106 + 106 * 0.7) * ((100vw - 375px) / 1000));
  }

  &__title {
    font-family: "Prata";
    font-size: 30px;
    line-height: 39px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 30px;

    transition: transform 0.5s ease 0.5s, opacity 0.5s ease 0.5s;
    @media (max-width: 1000px) {
      font-size: calc(18px + (12 + 12 * 0.7) * ((100vw - 375px) / 1000));
      line-height: calc(30px + (9 + 9 * 0.7) * ((100vw - 375px) / 1000));
      margin-bottom: calc(17px + (13 + 13 * 0.7) * ((100vw - 375px) / 1000));
    }

    @media (max-width: 560px) {
      max-width: 75%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__subtitle {
    font-family: "Prata";
    font-weight: 400;
    font-size: 54px;
    line-height: 88px;
    text-align: center;
    text-transform: uppercase;
    transition: transform 0.65s ease 0.65s, opacity 0.65s ease 0.65s;
    @media (max-width: 1000px) {
      font-size: calc(36px + (18 + 18 * 0.7) * ((100vw - 375px) / 1000));
      line-height: calc(48px + (40 + 40 * 0.7) * ((100vw - 375px) / 1000));
    }
  }

  &__bottom {
    max-width: 580px;
    margin-top: 216px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 216px auto 0;
    @media (max-width: 1000px) {
      margin-top: calc(31px + (185 + 185 * 0.7) * ((100vw - 375px) / 1000));
    }

    @media (max-width: 560px) {
      display: grid;
      grid-template-columns: max-content;
      justify-items: center;
      justify-content: center;
      grid-auto-flow: dense;
      gap: 15px;
    }
  }

  &__btn {
    width: 211px;
    height: 60px;
    margin-right: 39px;
    transition: transform 0.75s ease 0.75s, opacity 0.75s ease 0.75s;
    @media (max-width: 560px) {
      margin-right: 0;
      grid-row: 2/3;
    }
  }

  &__prices {
    display: flex;
    align-items: center;
    transition: transform 0.85s ease 0.85s, opacity 0.85s ease 0.85s;
    p {
      font-size: 18px;
      line-height: 30px;
      text-align: center;
      @media (max-width: 1000px) {
        font-size: calc(14px + (4 + 4 * 0.7) * ((100vw - 375px) / 1000));
      }
    }

    .orange {
      font-family: "Prata";
      font-size: 60px;
      line-height: 60px;
      text-align: center;
      margin-left: 25px;
      @media (max-width: 1000px) {
        font-size: calc(36px + (24 + 24 * 0.7) * ((100vw - 375px) / 1000));
      }
      @media (max-width: 560px) {
        margin-left: 10px;
      }
    }
  }

  &__title,
  &__subtitle,
  &__prices,
  &__btn {
    &._animate {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
    }
  }
}
