.menu {
  margin-left: 50px;
  @media (max-width: 1170px) {
    margin-left: 0;
  }

  @media (max-width: 990px) {
    grid-column: 1/3;
    justify-self: center;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 560px) {
      display: none;
    }
  }

  &__item {
    margin-right: 36px;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      .menu__link {
        color: $orange;
      }
      &::after,
      &::before {
        background-color: $orange;
      }
    }
  }

  &__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: block;
    z-index: 20;
  }

  &__item-dropdown {
    position: relative;
    z-index: 1;
    &::after,
    &::before {
      position: absolute;
      content: "";
      top: 45%;
      width: 7px;
      height: 2px;
      background-color: white;
      z-index: 2;
      cursor: pointer;
      transition: transform 0.25s ease-in-out;
    }

    &::after {
      right: -16px;
      transform: rotate(-45deg);
    }

    &::before {
      right: -12px;
      transform: rotate(45deg);
    }

    .menu__link {
      width: calc(100% + 16px);
    }

    &:hover {
      .menu__expand:not(.header__mobile .menu__expand) {
        opacity: 1;
        visibility: visible;
      }

      &:not(.header__mobile .menu__item-dropdown) {
        &::after {
          transform: rotate(45deg);
        }

        &::before {
          transform: rotate(-45deg);
        }
      }
    }
  }

  &__list-dropdown {
    &:not(.header__mobile .menu__list-dropdown) {
      padding: 14px 28px;
      background: #161717;
      box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
      border-radius: 7px;
    }
  }

  /* Временно */
  &__expand {
    /* display: none !important; */
  }
  /* ----- */

  &__expand:not(.header__mobile .menu__expand) {
    top: 100%;
    left: -20%;
    padding-top: 15px;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.25s ease-in-out, visibility 0.25s ease-in-out;
  }

  &__item-dropdown-li {
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link-dropdown {
    display: block;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    width: 100%;
    white-space: nowrap;
    &:hover {
      color: $orange;
    }
  }

  &__burger {
    display: none;
    &:hover {
      cursor: pointer;
    }
    @media (max-width: 560px) {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
    span {
      height: 2px;
      display: block;
      background-color: $orange;
      margin-bottom: 6px;
      border-radius: 1px;
      transform: translate(0);
      transition: transform 0.25s ease-in-out;

      &:nth-child(1) {
        width: 31px;
      }
      &:nth-child(2) {
        width: 23px;
      }
      &:nth-child(3) {
        width: 17px;
        margin-bottom: 0;
      }
    }
  }
}

.header__mobile {
  .menu__expand {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.25s ease-in-out;
  }
  .menu__list-dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px 0 0;
  }
  .menu__link-dropdown {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
  }

  .menu__item-dropdown-li {
    margin-bottom: 16px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  .menu__link {
    width: 130%;
  }

  .menu__item-dropdown {
    &::before,
    &::after {
      top: 15px;
      z-index: -1;
    }

    &.open {
      .menu__expand {
        overflow: initial;
        max-height: 1000px;
      }
      .menu__link {
        color: $orange;
        
      }
      &::after {
        transform: rotate(45deg);
      }

      &::before {
        transform: rotate(-45deg);
      }
      &::before,
      &::after {
        background-color: $orange;
        
      }
    }
  }
}
