.cover {
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.btn {
  background: #ffa360;
  box-shadow: 0px 0px 7px 6px rgba(227, 158, 95, 0.25);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: black;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  text-align: center;
}

.orange {
  color: $orange;
}

.phone {
  svg {
    width: 17px;
    height: 17px;
  }
  span {
    margin-left: 6px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
  }
}
