.socials {
  a {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  span {
    display: none;
  }
  svg {
    width: 15px;
    height: 15px;
  }
  
}
