.spoiler {
  &.open {
    .spoiler__top-right {
      transform: rotate(180deg);
      span {
        &:first-child {
          display: none;
        }
        &:last-child {
          transform: translateX(0);
        }
      }
    }

    .spoiler__bottom {
      max-height: 1000px;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
    }

    .spoiler__top {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
  &__top {
    position: relative;
    display: grid;
    grid-template-columns: 1fr max-content;
    align-items: center;
    cursor: pointer;
    gap: 30px;
    background: rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    border-radius: 6px;
    @media (max-width: 1180px) {
      padding: 20px;
    }
    @media (max-width: 650px) {
      gap: 0;
    }

    @media (max-width: 1180px) {
      align-items: baseline;
    }
    &.no-preview-img {
      padding: 35px 30px;
      .programms__preview-img {
        display: none;
      }

      @media (max-width: 1180px) {
        padding: 20px;
      }
    }
  }

  &__top-left {
    &_programms {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 18px;
      justify-content: space-between;
      align-items: center;
      @media (max-width: 1180px) {
        grid-template-columns: 1fr;
      }
    }
  }

  &__top-right {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background-color: #000000;
    border-radius: 50%;
    transform: rotate(0);
    transition: transform 0.25s ease-in-out;
    span {
      display: block;
      width: 15px;
      height: 2px;
      background-color: white;
      border-radius: 3px;

      &:first-child {
        transform: rotate(90deg) translateY(-8px);
      }

      &:last-child {
        transform: translateX(-8px);
      }
    }
    @media(max-width: 1119px) {
        transform: translateY(-6px);
    }
  }

  &__bottom {
    max-height: 0;
    transition: max-height 0.25s ease-in-out;
    background: rgba(0, 0, 0, 0.4);
  }

  &__bottom-content {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 20px 30px;
    display: flex;
    @media (max-width: 1180px) {
      padding: 20px;
    }
  }
}
