@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url(../fonts/#{$file_name}.woff2) format("woff2"),
      url(../fonts/#{$file_name}.woff) format("woff");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

$orange: #ffa360;
$main: #fff;
$background-main: #161717;
@import "fonts";

@import "normalize";

body {
  font-family: "Gilroy";
}
.page {
  color: $main;
  background-color: $background-main;
  overflow: hidden;

  &__container {
    margin: 0 auto;
    max-width: 1170px;

    @media (max-width: 1220px) {
      padding: 0 40px;
    }

    @media (max-width: 768px) {
      padding: 0 40px;
    }

    @media (max-width: 680px) {
      padding: 0 15px;
    }
  }
}

/* Шапка */
@import "header";

/* Меню */
@import "menu";

/* Баннер */
@import "banner";

/* Девушки */
@import "girls";

/* Попапы */
@import "popups";

/* Прочее */
@import "other";

/* Соц сети */
@import "socials";
