@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url(../fonts/#{$file_name}.woff2) format("woff2"), url(../fonts/#{$file_name}.woff) format("woff");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

$green: #28cb5a;
$main: #24284b;
$background-main: #f1f7fa;

@import "fonts";

@import "normalize";

body {
  font-family: "Manrope";
}
.page {
  color: $main;
  background-color: $background-main;
  overflow: hidden;

  &__container {
    margin: 0 auto;
    max-width: 1160px;

    @media (max-width: 1159px) {
      padding: 0 40px;
    }

    @media (max-width: 768px) {
      padding: 0 74px;
    }

    @media (max-width: 680px) {
      padding: 0 20px;
    }
  }
}


/* Попапы */
@import "popups";

